IlluminatedCloud/
.idea

src/applications
src/appMenus
src/email
src/groups
src/homePageComponents
src/homePageLayouts
src/labels
src/objects
src/permissionsets
src/profiles
src/quickActions
src/remoteSiteSettings
src/reports
src/reportTypes
src/roles
src/settings
src/sharingRules
src/tabs
src/workflows
src/documents
config/
*.sublime-project
*.sublime-workspace
debug/
*.iml
#*.yml
force.json
#package.xml
build.properties
.vim-force.com/
\.vscode/

sfdx-project\.json

\.sfdx

\.forceCode
